@using TescoAPIManager
@using TescoCustomLibrary
@{
    ViewBag.Title = "Home Page";
    var query = Request.Params["query"];
    var offset = Request.Params["offset"] != null ? Int32.Parse(Request.Params["offset"]) : 0;

    CustomTescoProducts cTProducts = null;

    if (!string.IsNullOrEmpty(query))
    {
        cTProducts = new CustomTescoProducts(query, offset);
    }
}



<div class="jumbotron">
    <h1>Tesco Diets</h1>
    <p>This project will hopefully be used to search tesco's groceries to give options to those who has specific dietary needs</p>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-4">
                <h2>Enter an item to find</h2>
                <p>
                    This will search the tesco api for items they sell.
                    Features include:
                    <ul>
                        <li>Will give alternate search terms if the input is spelled incorrectly.</li>
                        <li>Will display top 10 items</li>
                        <li>Search through further results with the next button</li>
                        <li>Searchable for dietary needs.</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-8">
                <pre>Shopping list:</pre>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @*Form*@
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="col-lg-4">
                            <p>Search Term: </p>
                            <input class="queryInput" name="query" />
                            <button class="btn">Search</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
            @* --------------------------------------------------------------------------- *@
            @*Search Output*@
       
    <hr />

    @Html.Partial("~/Views/Partials/_ContainingQuery.cshtml")

    @if (cTProducts != null)
    {

        if (cTProducts.SuggestedTerms != null && cTProducts.SuggestedTerms.Any())
        {
            @Html.Partial("~/Views/Partials/_SuggestedTerms.cshtml", cTProducts)
        }

        if (cTProducts.TescoProducts != null)
        {
            @Html.Partial("~/Views/Partials/_TableView.cshtml", cTProducts)
        }

    }

</div>