@using TescoAPIManager
@using TescoCustomLibrary
@{
    ViewBag.Title = "Home Page";
    var query = Request.Params["query"];
    var offset = Request.Params["offset"] != null ? Int32.Parse(Request.Params["offset"]) : 0;

    CustomTescoProducts cTProducts = null;

    if (!string.IsNullOrEmpty(query))
    {
        cTProducts = new CustomTescoProducts(query, offset);
    }
}



<div class="jumbotron">
    <h1>Tesco Diets</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Enter an item to find</h2>
        <p>
            This will search the tesco api for items they sell. 
            Features include:
            <ul>
                <li>Will give alternate search terms if the input is spelled incorrectly.</li>
                <li>Will display top 5 items, if none are correct select next on the table.</li>
                <li>Searchable for dietary needs.</li>
                <li>Grid View for image's, non searchable.</li>
            </ul>
        </p>

        @*Form*@
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="col-lg-4">
                        <p>Search Term: </p>
                        <input class="queryInput" name="query" />
                        <button class="btn">Search</button>
                    </div>
                        
                </form>
            </div>
        </div>
        @* --------------------------------------------------------------------------- *@
        @*Search Output*@
    </div>
    <hr />

    @Html.Partial("~/Views/Partials/_ContainingQuery.cshtml")

    @if (cTProducts != null)
    {

        if (cTProducts.SuggestedTerms != null && cTProducts.SuggestedTerms.Any())
        {
            @Html.Partial("~/Views/Partials/_SuggestedTerms.cshtml", cTProducts)
        }

        if (cTProducts.TescoProducts != null)
        {
            @Html.Partial("~/Views/Partials/_TableView.cshtml", cTProducts)
        }

    }

</div>