@using TescoAPIManager
@using TescoCustomLibrary
@{
    ViewBag.Title = "Home Page";
    var query = Request.Params["query"];
    var gridOn = Request.Params["grid"];

    CustomTescoProducts cTProducts = null;

    if (!string.IsNullOrEmpty(query))
    {
        cTProducts = new CustomTescoProducts(query, 0, "100");
    }
}



<div class="jumbotron">
    <h1>Tesco Diets</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Enter an item to find</h2>
        <p>
            This will search the tesco api for items they sell. Will give alternate search terms if the input is spelled incorrectly.
        </p>

        @*Form*@
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="col-lg-4">
                        <p>Search Term: </p>
                        <input name="query" /><br />
                    </div>
                    <div class="col-lg-4">
                        <p>Grid View</p>
                        <input type="checkbox" name="gridOn">

                        <br />
                        <button class="btn">Search</button>
                    </div>
                </form>
            </div>
        </div>
        @* --------------------------------------------------------------------------- *@
        @*Search Output*@
    </div>
    <hr />

    @Html.Partial("~/Views/Partials/_ContainingQuery.cshtml")

    @if (cTProducts != null)
    {

        if (cTProducts.SuggestedTerms != null && cTProducts.SuggestedTerms.Any())
        {
            @Html.Partial("~/Views/Partials/_SuggestedTerms.cshtml", cTProducts)
        }

        if (cTProducts.TescoProducts != null && gridOn == null)
        {
            @Html.Partial("~/Views/Partials/_TableView.cshtml", cTProducts)
        }
        else if (cTProducts.TescoProducts != null)
        {
            @Html.Partial("~/Views/Partials/_GridView.cshtml", cTProducts)
        }

    }

</div>